
/* Styles for the nav bar */
nav{
    display: flex;
    border: 2px solid turquoise;
    border-radius: 4px;
}
/* Styles for the high scores */
#highScores{
    display: flex;
    width: 50%;
   
}
/* Styles for the timer */
#time{
    display: flex;
    width: 50%;
   justify-content: flex-end ;
   padding-right: 23px;
}

/* Styles for where the quiz will be */
#quiz{
    text-align: center;
    padding-top: 10%;
   
}

/* Styles for the buttons */
button{
    background-color: turquoise;
    border-radius: 4px;
    border: none;
    color: white;
     padding: 20px;
    text-align: center;
     text-decoration: none;
    display: inline-block;
    font-size: 16px;
     margin: 4px 2px;
}

button:hover{
    background-color: teal;
}

/* Styles links */
a{
    text-decoration: none;
    color: black;
}